

    <!-- Slider -->
    <section id="featured">
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/assets/img/slides/1.jpg" alt="" />
                    <div class="flex-caption">
                        <h3>Best Car</h3>
                        <p>Doloribus omnis minus temporibus perferendis ipsa architecto non.</p>
                    </div>
                </li>
                <li>
                    <img src="/assets/img/slides/2.jpg" alt="" />
                    <div class="flex-caption">
                        <h3>Best Quality</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitincidunt.</p>
                    </div>
                </li>
                <li>
                    <img src="/assets/img/slides/3.jpg" alt="" />
                    <div class="flex-caption">
                        <h3>Best Service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
        <!-- end slider -->


